<h1>Upload Form</h1>
{% if form.is_multipart %}
    <form action="/softwares/upload/" method="post" enctype="multipart/form-data">
{% else %}
    <form action="/softwares/upload/" method="post">
{% endif %}
{% csrf_token %}
<!--Software Name   <input type="text" name="software_name" />
File   <input type="file" name="file" />
OS   <input type="text" name="os" />
Version   <input type="text" name="version" />
Description   <input type="textarea" name="description" />
Tags   <input type="text" name="tags" /> -->
{{form.as_p}}
<input type="submit" value="Upload" />
</form>

